@model Lab1.Models.Course

<h1>Create Course</h1>

<form asp-action="CreateCourse" method="post">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Credits"></label>
        <input asp-for="Credits" class="form-control" />
        <span asp-validation-for="Credits" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>